<div class="form-card" [@slideInLogin]>
  <div class="form-page">
    <form [formGroup]="fg">
      <div>
        <label>Have you ever been pregnant before?</label>
        <select formControlName="everBeenPregnant" (change)="everPregnant()">
          <option value="null">Please Select</option>
          <option value="YES">Yes</option>
          <option value="NO">No</option>
        </select>
      </div>

      <div *ngIf="ifPregnant === 'YES'" [@slideInMsg]>
        <label>Please pick which of the following applies to you.</label>
        <ng-multiselect-dropdown
          [settings]="dropdownSettings"
          [data]="dropdownList"
          formControlName="optionIfPregnant"
        >
        </ng-multiselect-dropdown>
      </div>

      <div *ngIf="ifPregnant === 'NO'" [@slideInMsg]>
        <label>How old were you when you had your first period? </label>
        <input
          type="number"
          formControlName="firtPeriodAge"
          placeholder="How old were you when you had your first period?"
        />
      </div>
      <div class="row p-3">
        <button
          class="btn btn-secondary btn-block"
          (click)="cancel()"
        >Cancel</button>
        <button
          class="btn btn-primary btn-block"
          (click)="submit()"
        >Submit</button>
      </div>
    </form>
  </div>
</div>
